body{
  margin: 0;
}

.navi{
  padding: 10% 5% 10% 5%;
  height: 70px;
}

.links{
  padding: 0 20px 0 20px;
}
.front{
  background-image: url("https://media.istockphoto.com/photos/futuristic-skyscrapers-at-dusk-picture-id1181546520?k=20&m=1181546520&s=612x612&w=0&h=uDYKdiBzkwL9KOgGelr52wqJJaBd4kJM2GVEqJQIlVw=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  width: 100%;
  height: 600px;
  position: relative;
}
.cards{
  width: 900px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 230px;
  border-radius: 5px;
}
.intro{
  width:100% ;
  height: 500px;
  background-color: #ffff;
  position: relative;

}
.fst_con{
  background-color: #92B4EC;
  width: 900px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 230px;
  border-radius: 5px;
}
.main_img{
  height:500px;
  width: 480px;
  float : left;
  margin-right: 40px;
}
.info{
  padding: 7% 0 5% 10%;
  font-size: 20px;
}
.name{
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  line-height: 0.5;
}
.mail{
  text-decoration: none;
  color: black;
}

span{
  line-height: 0.5;
  font-family: 'Ubuntu', sans-serif;
}

.icons{
  margin-left: 300px;
}
.link{
padding: 20px 20px 20px 20px;
}
.des{
  padding: 18% 20% 20% 20%;
  text-align: center;
}
.des h2{
  font-family: 'Oswald', sans-serif;
  line-height: 2.0;

}
.des p{
  line-height: 2.0;
   font-family: 'Ubuntu', sans-serif;
}
