body{
  margin: 0;
}

.navi{
  padding: 10% 5% 10% 5%;
  background-color: #CDF0EA;
}

.links{
  padding: 0 20px 0 20px;
}
.front{
  background-image: url("https://media.istockphoto.com/photos/futuristic-skyscrapers-at-dusk-picture-id1181546520?k=20&m=1181546520&s=612x612&w=0&h=uDYKdiBzkwL9KOgGelr52wqJJaBd4kJM2GVEqJQIlVw=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  width: 100%;
  height: 600px;
  position: relative;
}
.cards{
  width: 900px;
  height: 480px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 230px;
  border-radius: 5px;
}
.intro{
  width:100% ;
  height: 480px;
  background-color: #ffff;
  position: relative;
  background-color: #ccc;

}
.fst_con{
  background-color: #92B4EC;
  width: 900px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 230px;
  border-radius: 5px;
}
.main_img{
  height:480px;
  width: 450px;
  float : left;
  margin-right: 40px;
  border-radius: 5px;
}
.info{
  padding: 8% 0 0 10%;
  font-size: 24px;
  line-height: 1.5;
}
.name{
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  line-height: 0.5;
}
.mail{
  text-decoration: none;
  color: black;
}

span{
  line-height: 0.5;
  font-family: 'Ubuntu', sans-serif;
}
.ham{
  height: 100%;
  width:100%;
}

.icons{
  margin-left: 40%;
}
.link{
padding: 20px 20px 20px 20px;
}
.des{
  padding: 10% 20% 20% 20%;
  text-align: center;
}
.des h2{
  font-family: 'Oswald', sans-serif;
  line-height: 2.0;

}
.des p{
  line-height: 2.0;
   font-family: 'Ubuntu', sans-serif;
}

#experience{
  padding: 10px 20%;
  border-bottom: 1px solid #ccc;
}

.exp{
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}

.timeline{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-top : 50px;
}
 .tl-title{
   letter-spacing: 1px;
   font-size: 1.3rem;
   color:#002333;
 }
 .tl-title-2{
   letter-spacing: 1px;
   font-size: 1.3rem;
   color:#2D9CDB;

 }

.tl-content{
  border-left : 1px  solid #ccc;
  padding-left: 2rem;
   position :relative;
   padding-bottom: 2rem;
}

.tl-title-2::before{
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #2D9CDB;
  transform: translateX(-50%);
  left:0;
}

#education{
  padding: 10px 20%;
  border-bottom: 1px solid #ccc;
}

.edu{
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}

#skills{
  background-color: #92B4EC;
  /* height: 30%; */
  position: relative;

}
.skill-top{
  padding-top: 20px;
  width:100%;
  height: 60px;
  background-color: #0096FF;
  text-align: center;
  color:white;
  display: block;
}
.skill-bottom{
  display: grid;
  grid-template-columns: repeat(2,1fr);


}
.right-content{
  padding: 2% 0 2% 20%;
}
.right-g{
width :50%;
padding: 0 20px 0 20px;
margin-bottom: 2%;
background-image: linear-gradient(#E7F6F2 , #A5C9CA);
/* position: absolute;
left: 18%; */
}

.left-content{
  padding: 2% 0 2% 20%;
}
.left-g{
width :50%;
padding: 0 20px 0 20px;
margin-bottom: 2%;
background-image: linear-gradient(#E7F6F2 , #A5C9CA);
/* position: absolute;
right: 18%; */
}
.awards{
  padding: 10px 15%;
}
.tes-top{
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}
.tes-one{
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid #ccc;
}
.tes-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.right{
  padding: 20% 5% 10% 0;
}

.middle{
  padding: 20% 5% 10% 5%;
}
.left{
  padding: 20% 0 10% 5%;
}

#footer{
  border-top: 1px solid white;
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.f-right{
  border: 1px solid white;
}
.f-left{
  border: 1px solid white;
}
.f-title{
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid white;
  text-align: center;
}
.l_info{
  padding: 5% 0 2% 10%;
  font-size: 20px;
  line-height: 1.5;
}
